body {
  color: var(--mud-palette-text-primary);
  font-family: var(--mud-typography-default-family);
  font-size: var(--mud-typography-default-size);
  font-weight: var(--mud-typography-default-weight);
  line-height: var(--mud-typography-default-lineheight);
  letter-spacing: var(--mud-typography-default-letterspacing);
  background-color: var(--mud-palette-background); }

.blah2 {
  background-color: gray;
  height: 100px;
  width: 400px; }
