/*CSS Isolation docs: https: //docs.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation?view=aspnetcore-6.0*/

@charset "UTF-8";

:root {
    --leader-pivot-cell-padding: 6px;
    --leader-pivot-font-size: 12pt;
}

.switch {
    position: relative;
    white-space: nowrap;
}

.switch label {
    margin-left: 40px;
    white-space: nowrap;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    margin-top: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    width: 35px;
    height: 16px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}


.slider.round {
    border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-default {
    background-color: #ccc;
}

.slider-default:before {
    background-color: white;
}

input:checked + .slider-default {
    background-color: #2196F3;
}

.groupheader-button {
    background-color: transparent;
}

.groupheader-button {
    background-color: transparent;
}


.groupheader-button-white {
    color: white;
}

.groupheader-button-white:focus {
    box-shadow: none !important;
}

.groupheader-button-white:hover {
    background-color: #343a40;
}


.groupheader-button-black {
    color: black;
}

.groupheader-button-black:focus {
    box-shadow: none !important;
}

.groupheader-button-black:hover {
    background-color: #EEEEEE;
}
