:root {
  --leader-pivot-cell-padding: 6px;
  --leader-pivot-font-size: 12pt; }

.leader-pivot-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  min-height: 0;
  min-width: 0; }

.leader-pivot-table {
  font-size: var(--leader-pivot-font-size); }

.leader-pivot-header-cell {
  text-align: left;
  vertical-align: top;
  padding: var(--leader-pivot-cell-padding); }

.leader-pivot-measure-cell {
  text-align: right;
  vertical-align: middle !important;
  padding: var(--leader-pivot-cell-padding); }

.leader-pivot-total-cell-bg-default {
  background-color: whitesmoke; }

.switch {
  position: relative;
  white-space: nowrap; }

.switch label {
  margin-left: 40px;
  white-space: nowrap; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  width: 35px;
  height: 16px; }

.slider:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px); }

.slider.round {
  border-radius: 12px; }

.slider.round:before {
  border-radius: 50%; }

.slider-default {
  background-color: #ccc; }

.slider-default:before {
  background-color: white; }

input:checked + .slider-default {
  background-color: #2196F3; }

.groupheader-button {
  background-color: transparent; }

.groupheader-button {
  background-color: transparent; }

.groupheader-button-white {
  color: white; }

.groupheader-button-white:focus {
  box-shadow: none !important; }

.groupheader-button-white:hover {
  background-color: #343a40; }

.groupheader-button-black {
  color: black; }

.groupheader-button-black:focus {
  box-shadow: none !important; }

.groupheader-button-black:hover {
  background-color: #EEEEEE; }

/* ----------- Primary theme ----------- */
.leader-pivot-container-primary {
  background-color: white;
  color: black; }

/* ----------- Light theme ----------- */
.leader-pivot-container-light {
  background-color: white;
  color: black; }

.leader-pivot-total-cell-bg-light {
  background-color: #F8F8FF !important; }

.slider-light {
  background-color: #ccc; }

.slider-light:before {
  background-color: white; }

input:checked + .slider-light {
  background-color: #AAD6FA; }

/* ----------- Secondary theme ----------- */
.leader-pivot-container-secondary {
  background-color: #d6d8db;
  color: black; }

table.table-bordered-secondary > tr > td {
  border: 1px solid #808080; }

.leader-pivot-total-cell-bg-secondary {
  background-color: #a9aaad; }

.slider-secondary {
  background-color: #ccc; }

.slider-secondary:before {
  background-color: white; }

input:checked + .slider-secondary {
  background-color: #6c757d; }

/* ----------- Dark theme ----------- */
.leader-pivot-container-dark {
  color: white;
  background-color: #242a2f; }

table.table-bordered-dark > tr > td {
  border: 1px solid black; }

.leader-pivot-total-cell-bg-dark {
  background-color: #343a40; }

.slider-dark {
  background-color: #ccc; }

.slider-dark:before {
  background-color: white; }

input:checked + .slider-dark {
  background-color: #6c757d; }

/*drag drop styles*/
/*add this to avoid flickering*/
.plk-dd-inprogess > * {
  pointer-events: none;
  /* margin-top: 1vw;
    margin-right: 1vw;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: dashed 2px silver;*/ }

/*dropzone style style*/
.plk-dd-dropzone {
  min-height: 50px; }

.plk-dd-draggable {
  margin: 8px; }

.plk-dd-spacing {
  height: 10px; }

.plk-dd-dragged-over {
  /*opacity: 0.6;*/
  animation: blinker 1s linear infinite; }

.plk-dd-dragged-over > div {
  /*opacity: 0.6;
    animation: blinker 1s linear infinite;*/ }

.plk-dd-dragged-over-denied {
  background-color: red;
  opacity: 0.6;
  animation: blinker 1s linear infinite; }

.plk-dd-in-transit {
  opacity: 0.6; }

.plk-dd-in-transit > div {
  opacity: 0; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.blink_me {
  animation: blinker 1s linear infinite; }
